@{
  Layout ="_Layout";
}

@model Factory.Models.Engineer;

<h2>Hire a new Engineer</h2>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.EngineerName)
  @Html.TextBoxFor(model => model.EngineerName)

  <input type="submit" value="Hire a new Engineer" />
}

<a href="@Url.Action("Index", "Engineer")" class="btn btn-secondary">Go Back</a>
