@{
  Layout ="_Layout";
}

@model Factory.Models.Engineer;

<h2>Are you sure you want to delete this?</h2>

@Html.DisplayNameFor(model => model.EngineerName): @Html.DisplayFor(model => model.EngineerName)
@using (Html.BeginForm())
{
  <input type="submit" class="btn btn-danger btn-lg" value="Delete" />
}
<p>@Html.ActionLink("Go Back", "Index", "Engineer", null, new { @class = "btn btn-secondary btn-lg col-6" })</p>