@{
  Layout ="_Layout";
}

@model Factory.Models.Machine;

<h2>Register a new Invention</h2>

@using (Html.BeginForm())
{
  <h4> @Html.Label("Machine Name")</h4>
  @Html.TextBoxFor(model => model.MachineName)
  <br>
  <input type="submit" value="Register a new Invention" class="btn btn-success btn-sm"/>
}

<p>@Html.ActionLink("Go Back", "Index", "Machine", null, new { @class = "btn btn-secondary btn-lg col-6" })</p>
