@{
  Layout ="_Layout";
}
@using Factory.Models;

<h1>The Marvelous Machines of Dr. Sillystringz</h1>

<ul>
  @foreach (Machine machine in Model)
  {
    <li>@Html.ActionLink($"{machine.MachineName}", "Details", new { id = machine.MachineId })</li>
  }
</ul>

<p>@Html.ActionLink("Register a new Invention", "Create", "Machine", null, new { @class = "btn btn-primary btn-lg col-6" })</p>
<p>@Html.ActionLink("Go Back", "Index", "Home", null, new { @class = "btn btn-secondary btn-lg col-6" })</p>
