@{
  Layout="_Layout";
}

<h1>Welcome to Dr. Sillystringz's Factory</h1>

<a href="@Url.Action("Index", "Machine")" class="btn btn-secondary btn-lg">Machines</a>
<a href="@Url.Action("Index", "Engineer")" class="btn btn-secondary btn-lg">Engineers</a>